.topbar {
  display: flex;
}

.topbar-left, .topbar-right, .topbar-center {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.topbar-left, .topbar-right {
  width: 60px;
  background-color: lightblue;
}

.topbar-center {
  flex: 1;
  background-color: lemonchiffon;
}